Repository TheJavaGuy/java-faker: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, yaml-validate

lefthook.yml:

# Lefthook configuration for java-faker
# Install hooks with: just hooks-install
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    compile:
      run: just build

    format-check:
      glob: "*.java"
      run: just format-check

    yaml-validate:
      glob: "*.{yml,yaml}"
      run: just yaml-check

# Optional: enforce conventional commit messages
# Uncomment to enable
# commit-msg:
#   commands:
#     conventional:
#       run: just commit-msg-check {1}

add spotless and hooks (#28)
  justfile
  lefthook.yml
  pom.xml
Due: yaml-validate

add specs
  .gitignore
  specs/MARKDOWN_FAKER_SPEC.md
  specs/SHIPPING_FAKER_SPEC.md
  specs/SUBSCRIPTION_FAKER_SPEC.md
  specs/VEHICLE_FAKER_SPEC.md
  specs/pre-commit-hooks-plan.md
Due: none

add specs (#30)
  .gitignore
  specs/MARKDOWN_FAKER_SPEC.md
  specs/SHIPPING_FAKER_SPEC.md
  specs/SUBSCRIPTION_FAKER_SPEC.md
  specs/VEHICLE_FAKER_SPEC.md
  specs/pre-commit-hooks-plan.md
Due: none

add Vehicle faker with comprehensive vehicle data generation
  LEARNINGS.md
  justfile
  src/main/java/org/thejavaguy/javafaker/Faker.java
  src/main/java/org/thejavaguy/javafaker/Vehicle.java
  src/main/resources/en/vehicle.yml
  src/test/java/org/thejavaguy/javafaker/VehicleTest.java
Due: format-check, yaml-validate

add Vehicle faker with comprehensive vehicle data generation (#35)
  LEARNINGS.md
  justfile
  src/main/java/org/thejavaguy/javafaker/Faker.java
  src/main/java/org/thejavaguy/javafaker/Vehicle.java
  src/main/resources/en/vehicle.yml
  src/test/java/org/thejavaguy/javafaker/VehicleTest.java
Due: format-check, yaml-validate

add create-pr.sh helper script for streamlined PR creation
  create-pr.sh
Due: none

add create-pr.sh helper script for streamlined PR creation (#37)
  create-pr.sh
Due: none

add implement-spec Claude Code skill (closes #38)
  .claude/skills/implement-spec/SKILL.md
Due: none

add implement-spec Claude Code skill (closes #38) (#39)
  .claude/skills/implement-spec/SKILL.md
Due: none

generalize implement-spec skill to support non-faker specs (closes #40)
  .claude/skills/implement-spec/SKILL.md
  LEARNINGS.md
Due: none

generalize implement-spec skill to support non-faker specs (closes #40) (#41)
  .claude/skills/implement-spec/SKILL.md
  LEARNINGS.md
Due: none

add cleanup-branch skill for post-PR branch cleanup (closes #42)
  .claude/skills/cleanup-branch/SKILL.md
  LEARNINGS.md
Due: none

add cleanup-branch skill for post-PR branch cleanup (closes #42) (#43)
  .claude/skills/cleanup-branch/SKILL.md
  LEARNINGS.md
Due: none

fix StarCraftTest.testPlanet regex to allow hyphens (closes #44)
  src/test/java/org/thejavaguy/javafaker/StarCraftTest.java
Due: format-check

fix StarCraftTest.testPlanet regex to allow hyphens (closes #44) (#45)
  src/test/java/org/thejavaguy/javafaker/StarCraftTest.java
Due: format-check

add Subscription faker (closes #46)
  src/main/java/org/thejavaguy/javafaker/Faker.java
  src/main/java/org/thejavaguy/javafaker/Subscription.java
  src/main/resources/en/subscription.yml
  src/test/java/org/thejavaguy/javafaker/SubscriptionTest.java
Due: format-check, yaml-validate

add Subscription faker (closes #46) (#47)
  src/main/java/org/thejavaguy/javafaker/Faker.java
  src/main/java/org/thejavaguy/javafaker/Subscription.java
  src/main/resources/en/subscription.yml
  src/test/java/org/thejavaguy/javafaker/SubscriptionTest.java
Due: format-check, yaml-validate

update implement-spec and cleanup-branch skills (closes #48)
  .claude/skills/cleanup-branch/SKILL.md
  .claude/skills/implement-spec/SKILL.md
  LEARNINGS.md
Due: none

update implement-spec and cleanup-branch skills (closes #48) (#49)
  .claude/skills/cleanup-branch/SKILL.md
  .claude/skills/implement-spec/SKILL.md
  LEARNINGS.md
Due: none

add Temporal faker (closes #50)
  src/main/java/org/thejavaguy/javafaker/Faker.java
  src/main/java/org/thejavaguy/javafaker/Temporal.java
  src/test/java/org/thejavaguy/javafaker/TemporalTest.java
Due: format-check

add Temporal faker (closes #50) (#51)
  src/main/java/org/thejavaguy/javafaker/Faker.java
  src/main/java/org/thejavaguy/javafaker/Temporal.java
  src/test/java/org/thejavaguy/javafaker/TemporalTest.java
Due: format-check

add assign-pr-to-opener workflow
  .github/workflows/assign-pr-to-opener.yml
  .github/workflows/auto_assign_prs.yml
Due: yaml-validate

add assign-pr-to-opener workflow (#52)
  .github/workflows/assign-pr-to-opener.yml
  .github/workflows/auto_assign_prs.yml
Due: yaml-validate
